body {
  background-color: darkgoldenrod;
}

.Playground button:not(:hover):not(:active):not(.has-background) {
  background-color: #000;
}
.Playground h1 {
  font-family: "Comic Sans", cursive;
}

.Playground h1::after {
  content: "\263A";
  color: red;
}

.Playground,
a.content-button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #000;
  margin: 0 auto 20px;
  height: 45px;
  display: block;
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 30px 11px;
  text-transform: uppercase;
  vertical-align: bottom;
}
